.order {
  margin-top: 110px;
  height: 555px;
  background-image: url("/public/home/order/banner.jpg");
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
   z-index: 1;
   position: relative;
}

.inner {
  padding-top: 100px;
  text-align: center;
  grid-column: 2;
}






.title {
  color: var(--primary-color);
  font-size: 85px;
}

.subtitle {
  color: var(--text-color);
  font-size: 48px;
}

.text {
  padding-top: 20px;
  color: var(--text-color);
  font-size: 25px;
}

.button {
  margin-top: 40px;
  color: var(--text-color);
  background-color: var(--primary-color);
  padding: 20px 40px;
  border-radius: 40px;
  cursor: pointer;
}
.button:hover {
  background-color: #ffd445;
}
@media (max-width:1400px) {
  .inner {
  padding-top: 20px;}

 .order::before {
  background-color: rgba(0, 0, 0, 0.437);
  content: '';
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.order {
  margin-top: 60px;
  display: flex;
  justify-content: center;

}

.subtitle {
  color:rgb(255, 255, 255);
}

.text {
  color:rgb(255, 255, 255);
}

}

@media (max-width:769px) {
  .inner {
  padding-top: 20px;
}

.title {
  font-size: 55px;
}

.subtitle {
  padding-top: 50px;
  font-size: 28px;
}
}