.mission {
  padding-top: 90px;
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  text-align: center;
  max-width: 690px;
  padding-top: 30px;
  font-size: 20px;
  color: var(--text-color);
}

.wrapper__video {
  padding-top: 45px;
  width: 100%;
  display: flex;
    justify-content: center;
}

.video {
  width: 80%;
  height: 705px;
  border-radius: 20px;
}


@media (max-width: 769px) {
  .video {
  width: 90%;
  height: 40vh;
  border-radius: 20px;
}
}
