.application {
  padding-top: 90px;
}
.inner {
  padding-top: 60px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 1400px) {
  .inner__img {
  display: none;
}
}



.request {
  width: 650px;
  height: 650px;
  background-color: #f9f9f9;
}
.request__inner {
  padding: 35px;
}
.title__request {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 600;
}

.subtitle__request {
  padding-top: 15px;
  display: flex;
  gap: 50px;
}
.text {
  font-size: 18px;
  color: var(--text-color);
  font-weight: 700;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 5px;
}
.text::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.form {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.calculate {
  display: flex;
  gap: 70px;
  align-items: center;
}

.label__form {
  font-size: 20px;
  color: var(--text-color);
  width: 252px;
}

.input__form {
  color: var(--text-color);
  width: 255px;
  padding: 15px 25px;
  border-radius: 45px;
  outline: none;
  border: 1px solid #e5e5e5;
}

.input__form::placeholder {
  color: var(--text-color);
}

.separator {
  margin-top: 35px;
  background-color: #f1f0f0;
  display: flex;
  justify-content: space-between;
  padding: 15px 35px;
}

.separator__text {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 600;
}

.form__payload {
  padding-top: 30px;

}

.payload__inputs {
  display: flex;
  gap: 25px;
}

.button {
  margin-top: 35px;
  color: var(--text-color);
  background-color: var(--primary-color);
  text-transform: capitalize;
  padding: 15px 170px;
  border-radius: 30px;
  cursor: pointer;
}

.button:hover {
  background-color: #ffd445;
}

@media (max-width: 769px) {

  .request {
  /* width: 650px; */
  height: 100%;
  background-color: #f9f9f9;
}
.subtitle__request {
  gap: 10px;
  flex-wrap: wrap;
}

.text {
  gap: 5px;
  flex-wrap: wrap;
}
.form {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  flex-wrap: wrap;
}

.form__payload {
 display: flex;
  flex-direction: column;
  justify-content: center;
}
.calculate {
  gap: 10px;
  flex-wrap: wrap;
}

.separator {
  margin-top: 35px;
  padding: 15px 35px;
  flex-wrap: wrap;
}

.payload__inputs {
  gap: 25px;
  flex-wrap: wrap;
}

.button {
  padding: 15px 70px;
}
}